* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.primaryFamily {
  font-family: "Montserrat", sans-serif;
}

.activeNavlist::before {
  width: 100% !important;
  visibility: visible !important;
}

.logo {
  width: 250px;
  height: 25px;
  text-align: left;
}

.logo a {
  padding: 14px 0px 0px 0px;
}

.logo a img {
  height: 25px;
}

.navbar-fixed {
  top: 0px !important;
}

.secondNavBar {
  position: fixed;
  top: -255px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 999;
  border-bottom: 1px solid #eee;
}

.navHeader {
  width: 100%;
  background-color: white;
}

.navHeader .headContainer {
  width: 70%;
  margin: auto;
  position: relative;
}

.navHeader .headContainer .navbar-expand-lg {
  padding: 0px;
}

.navHeader .headContainer .navbar-collapse {
  padding: 0px;
  position: static;
}

.navHeader .headContainer .navbar-nav .nav-item {
  padding-left: 47px;
  padding-top: 50px;
  font-size: 12px;
  letter-spacing: 2px;
  position: relative;
}

.navHeader .headContainer .navbar-nav .nav-item .navHome:hover .homeList {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navHeader .headContainer .navbar-nav .nav-item .navHome .homeList {
  width: 200px;
  padding: 70px 35px 30px 35px;
  background-color: white;
  position: absolute;
  top: 69px;
  left: 11px;
  z-index: 666;
  line-height: 30px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  font-size: 12px;
  line-height: 2.5;
  font-family: "Montserrat", sans-serif;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.26s;
  transition: -webkit-transform 0.26s;
  transition: transform 0.26s;
  transition: transform 0.26s, -webkit-transform 0.26s;
}

.navHeader .headContainer .navbar-nav .nav-item .navHome .homeList ul {
  list-style: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navHome .homeList ul li a {
  color: #737373;
  text-decoration: none;
  position: relative;
}

.navHeader .headContainer .navbar-nav .nav-item .navHome .homeList ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #737373;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navHeader .headContainer .navbar-nav .nav-item .navHome .homeList ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

.navHeader .headContainer .navbar-nav .nav-item .navPage:hover .pageList {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navHeader .headContainer .navbar-nav .nav-item .navPage .pageList {
  width: 200px;
  padding: 70px 75px 30px 35px;
  background-color: white;
  position: absolute;
  top: 69px;
  left: 15px;
  z-index: 666;
  line-height: 30px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  font-size: 12px;
  line-height: 2.5;
  font-family: "Montserrat", sans-serif;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.26s;
  transition: -webkit-transform 0.26s;
  transition: transform 0.26s;
  transition: transform 0.26s, -webkit-transform 0.26s;
}

.navHeader .headContainer .navbar-nav .nav-item .navPage .pageList ul {
  list-style: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navPage .pageList ul li a {
  color: #737373;
  text-decoration: none;
  position: relative;
}

.navHeader .headContainer .navbar-nav .nav-item .navPage .pageList ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #737373;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navHeader .headContainer .navbar-nav .nav-item .navPage .pageList ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

.navHeader .headContainer .navbar-nav .nav-item .navShop:hover .shopList {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navHeader .headContainer .navbar-nav .nav-item .navShop .shopList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 69px;
  left: 0px;
  width: 100%;
  z-index: 666;
  background-color: white;
  padding-top: 45px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.26s;
  transition: -webkit-transform 0.26s;
  transition: transform 0.26s;
  transition: transform 0.26s, -webkit-transform 0.26s;
}

.navHeader .headContainer .navbar-nav .nav-item .navShop .shopList .shopProductTypes {
  padding: 40px 80px;
}

.navHeader .headContainer .navbar-nav .nav-item .navShop .shopList .shopProductTypes h4 {
  font-size: 22px;
  font-family: "playfair display,serif";
  color: #1b1b1b;
  padding: 20px 0px;
}

.navHeader .headContainer .navbar-nav .nav-item .navShop .shopList .shopProductTypes ul {
  list-style: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navShop .shopList .shopProductTypes ul li a {
  text-decoration: none;
  color: #737373;
  position: relative;
  font-size: 12px;
  line-height: 3;
}

.navHeader .headContainer .navbar-nav .nav-item .navShop .shopList .shopProductTypes ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #737373;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navHeader .headContainer .navbar-nav .nav-item .navShop .shopList .shopProductTypes ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio:hover .portfolioList {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList {
  width: 210px;
  padding: 70px 20px 30px 35px;
  background-color: white;
  position: absolute;
  top: 69px;
  left: 15px;
  z-index: 666;
  line-height: 30px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  font-size: 12px;
  line-height: 2.5;
  font-family: "Montserrat", sans-serif;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.26s;
  transition: -webkit-transform 0.26s;
  transition: transform 0.26s;
  transition: transform 0.26s, -webkit-transform 0.26s;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList ul {
  list-style: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList ul li a {
  color: #737373;
  text-decoration: none;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #737373;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList ul li a span {
  float: right;
  color: #737373;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList ul li .portfolioListHover-1 {
  position: absolute;
  top: 54%;
  left: 100%;
  width: 200px;
  padding: 23px;
  background-color: white;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList ul li .portfolioListHover-2 {
  position: absolute;
  top: 67%;
  left: 100%;
  width: 200px;
  padding: 23px;
  background-color: white;
  display: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList ul li:hover .portfolioListHover-1 {
  opacity: 1;
}

.navHeader .headContainer .navbar-nav .nav-item .navPortfolio .portfolioList ul li:hover .portfolioListHover-2 {
  display: block;
}

.navHeader .headContainer .navbar-nav .nav-item .navBlog:hover .blogList {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navHeader .headContainer .navbar-nav .nav-item .navBlog .blogList {
  width: 210px;
  padding: 70px 30px 30px 35px;
  background-color: white;
  position: absolute;
  top: 69px;
  left: 15px;
  z-index: 666;
  line-height: 30px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  font-size: 12px;
  line-height: 2.5;
  font-family: "Montserrat", sans-serif;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.26s;
  transition: -webkit-transform 0.26s;
  transition: transform 0.26s;
  transition: transform 0.26s, -webkit-transform 0.26s;
}

.navHeader .headContainer .navbar-nav .nav-item .navBlog .blogList ul {
  list-style: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navBlog .blogList ul li a {
  color: #737373;
  text-decoration: none;
  position: relative;
}

.navHeader .headContainer .navbar-nav .nav-item .navBlog .blogList ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #737373;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navHeader .headContainer .navbar-nav .nav-item .navBlog .blogList ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

.navHeader .headContainer .navbar-nav .nav-item .navBlog .blogList ul li a span {
  float: right;
  color: #737373;
}

.navHeader .headContainer .navbar-nav .nav-item .navBlog .blogList ul li .blogListHover {
  position: absolute;
  top: 54%;
  left: 100%;
  width: 200px;
  padding: 23px;
  background-color: white;
  display: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navBlog .blogList ul li:hover .blogListHover {
  display: block;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements:hover .elementsList {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList {
  width: 210px;
  padding: 70px 30px 30px 35px;
  background-color: white;
  position: absolute;
  top: 69px;
  left: 15px;
  z-index: 666;
  line-height: 30px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  font-size: 12px;
  line-height: 2.5;
  font-family: "Montserrat", sans-serif;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.26s;
  transition: -webkit-transform 0.26s;
  transition: transform 0.26s;
  transition: transform 0.26s, -webkit-transform 0.26s;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul {
  list-style: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li a {
  color: #737373;
  text-decoration: none;
  position: relative;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #737373;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li a:hover::before {
  visibility: visible;
  width: 100%;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li a span {
  float: right;
  color: #737373;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li .elementsHover-1 {
  position: absolute;
  top: 21%;
  left: 100%;
  width: 200px;
  padding: 23px;
  background-color: white;
  display: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li:hover .elementsHover-1 {
  display: block;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li .elementsHover-2 {
  position: absolute;
  top: 35%;
  left: 100%;
  width: 200px;
  padding: 23px;
  background-color: white;
  display: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li:hover .elementsHover-2 {
  display: block;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li .elementsHover-3 {
  position: absolute;
  top: 48%;
  left: 100%;
  width: 200px;
  padding: 23px;
  background-color: white;
  display: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li:hover .elementsHover-3 {
  display: block;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li .elementsHover-4 {
  position: absolute;
  top: 62%;
  left: 100%;
  width: 200px;
  padding: 23px;
  background-color: white;
  display: none;
}

.navHeader .headContainer .navbar-nav .nav-item .navElements .elementsList ul li:hover .elementsHover-4 {
  display: block;
}

.navHeader .headContainer .navbar-nav .nav-item .navIcon {
  padding: 0;
  color: black;
}

.navHeader .headContainer .navbar-nav .nav-item .navIcon:hover {
  color: black;
}

.navHeader .headContainer .navbar-nav .nav-item .navIcon .fa-search {
  font-size: 19px;
  margin-right: 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.navHeader .headContainer .navbar-nav .nav-item .navIcon .fa-search:hover {
  color: #f34f3f;
}

.navHeader .headContainer .navbar-nav .nav-item .navIcon .fa-shopping-bag {
  position: relative;
  font-size: 19px;
  margin-right: 20px;
}

.navHeader .headContainer .navbar-nav .nav-item .navIcon .fa-shopping-bag sup {
  position: absolute;
  top: 0px;
  right: -7px;
  background-color: #f34f3f;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}

.navHeader .headContainer .navbar-nav .nav-item .navList {
  padding: 0;
  color: black;
  position: relative;
}

.navHeader .headContainer .navbar-nav .nav-item .navList::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navHeader .headContainer .navbar-nav .nav-item .navList:hover::before {
  visibility: visible;
  width: 100%;
}

.navHeader .headContainer .navbar-nav .nav-item .navList:hover {
  color: black;
}

.categories {
  width: 70%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories .categoriesList ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 70px;
}

.categories .categoriesList ul li {
  margin-right: 32px;
  letter-spacing: 1px;
}

.categories .categoriesList ul li a {
  text-decoration: none;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.categories .categoriesList ul li a:hover {
  color: #f34f3f;
}

.categories .categoriesList ul .activeLi {
  color: #f34f3f;
}

.filter {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin: 70px 0 0;
  cursor: pointer;
}

.filter .filter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 34px;
  right: 15px;
  background-color: white;
  z-index: 666;
  width: 410px;
}

.filter .filter-content .filter-text {
  margin-right: 15px;
}

.filter .filter-content .sort-by {
  padding-left: 40px;
}

.filter .filter-content .sort-by h5 {
  font-size: 25px;
  line-height: 2;
  font-family: "playfair display,serif";
}

.filter .filter-content .sort-by ul {
  list-style: none;
}

.filter .filter-content .sort-by ul li {
  line-height: 2;
}

.filter .filter-content .sort-by ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #737373;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filter .filter-content .sort-by ul li a:hover {
  color: black;
}

.filter .filter-content .price-range {
  padding: 0px 40px 25px 40px;
}

.filter .filter-content .price-range h5 {
  font-size: 25px;
  line-height: 2;
  font-family: "playfair display,serif";
}

.filter .filter-content .price-range ul {
  list-style: none;
}

.filter .filter-content .price-range ul li {
  line-height: 2;
}

.filter .filter-content .price-range ul li a {
  text-decoration: none;
  font-size: 13px;
  color: #737373;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filter .filter-content .price-range ul li a:hover {
  color: black;
}

.filter:hover .filter-content {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.filterCard {
  text-align: center;
  border: none;
  padding-bottom: 75px;
}

.filterCard .cardImg {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.filterCard .cardImg .sold {
  position: absolute;
  padding: 4px 13px;
  background-color: #2b2b2b;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 16px;
  letter-spacing: 1px;
  top: 15px;
  left: 15px;
  z-index: 666;
}

.filterCard .cardImg .sold:hover {
  cursor: auto;
}

.filterCard .cardImg .sale {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 666;
  font-family: "Playfair Display";
  color: #2b2b2b;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 4px 15px;
}

.filterCard .cardImg .sale:hover {
  cursor: auto;
}

.filterCard .card-img-top {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.filterCard .card-img-top:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filterCard .card-body {
  font-size: 13px;
}

.filterCard .card-body .card-text {
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.filterCard .card-body .card-price {
  color: #afafaf;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.filterCard .card-body .card-price:hover {
  cursor: pointer;
}

.filterCard .card-body .card-price span {
  color: black;
  margin-left: 5px;
  font-weight: 300;
}

#valentine {
  background-color: #f7f7f7;
}

#valentine .valentine {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0;
}

#valentine .valentine .valentineVideo .valentineImg {
  overflow: hidden;
}

#valentine .valentine .valentineVideo .valentineImg img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

#valentine .valentine .valentineVideo .valentineImg img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

#valentine .valentine .valentineVideo .valentineImg .playIcon {
  width: 100px;
  height: 100px;
  background-color: white;
  color: #f34f3f;
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 37%;
  left: 42%;
  z-index: 666;
}

#valentine .valentine .valentineVideo .valentineImg .playIcon:hover {
  cursor: pointer;
}

#valentine .valentineText {
  padding: 31px 10% 0px 70px;
}

#valentine .valentineText .valentineTitle {
  letter-spacing: 1px;
  margin-bottom: 27px;
}

#valentine .valentineText .valentineTitle .blackValentine {
  font-size: 40px;
  line-height: 50px;
  font-family: "playfair display,serif";
  color: #2b2b2b;
}

#valentine .valentineText .valentineTitle .blackValentine .redValentine {
  color: #f34f3f;
}

#valentine .valentineText .valentineAbout {
  font-size: 17px;
  color: #6d6a6a;
  line-height: 29px;
}

#valentine .valentineText .valentineAbout img {
  margin-right: 12px;
}

.flower-experts {
  width: 70%;
  margin: auto;
}

.flower-experts .flower-experts-title {
  text-align: center;
  padding: 160px 0px 60px 0px;
  width: 50%;
  margin: auto;
}

.flower-experts .flower-experts-title h2 {
  font-size: 42px;
  color: #2b2b2b;
  font-family: "playfair display,serif";
  line-height: 2;
}

.flower-experts .flower-experts-title p {
  font-size: 20px;
  font-family: "Lora", serif;
  color: #6d6a6a;
}

.flower-experts .profileAbout {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flower-experts .profileAbout .profileContent {
  width: 100%;
  padding-bottom: 85px;
}

.flower-experts .profileAbout .profileContent .profileImg {
  text-align: center;
}

.flower-experts .profileAbout .profileContent .profileName {
  text-align: center;
  padding-top: 25px;
}

.flower-experts .profileAbout .profileContent .profileName h6 {
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
}

.flower-experts .profileAbout .profileContent .profileName span {
  font-size: 13px;
  color: #afafaf;
  letter-spacing: 0.5px;
}

#joinBunch {
  background-image: url("../img/h3-background-img.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#joinBunch .joinBunch {
  width: 70%;
  margin: auto;
  padding-top: 183px;
  padding-bottom: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#joinBunch .joinBunch .joinBunchText {
  color: white;
  font-family: "playfair display,serif";
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#joinBunch .joinBunch .joinBunchText h3 {
  font-size: 30px;
}

#joinBunch .joinBunch .customInput {
  font-size: 12px;
  padding: 30px 15px;
  color: #959595;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#joinBunch .joinBunch .customButton {
  background-color: #f34f3f;
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 600;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0px 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#joinBunch .joinBunch .customButton:hover {
  cursor: pointer;
  background-color: red;
}

#fromOurBlog {
  background-color: #f8f8f8;
}

#fromOurBlog .fromOurBlog {
  width: 70%;
  margin: auto;
  padding: 98px 0px 81px 0px;
}

#fromOurBlog .fromOurBlog .fromOurBlog-title {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-bottom: 68px;
}

#fromOurBlog .fromOurBlog .fromOurBlog-title h2 {
  font-size: 38px;
  font-family: "playfair display,serif";
  margin-bottom: 20px;
}

#fromOurBlog .fromOurBlog .fromOurBlog-title p {
  font-size: 20px;
  font-family: "Lora", serif;
  color: #6d6a6a;
  line-height: 1.5;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard {
  padding: 0 5px;
  border: none;
  background-color: #f8f8f8;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCardImg {
  overflow: hidden;
  position: relative;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCardImg img {
  border-radius: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCardImg img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCardDate {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 666;
  font-family: "Montserrat", sans-serif;
  color: #2b2b2b;
  background-color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 7px 16px;
  -webkit-transition: 0.5;
  transition: 0.5;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCardDate:hover {
  cursor: pointer;
  color: #f34f3f;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCardDate p {
  margin: 0px;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCard-body {
  text-align: center;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCard-body h5 {
  font-family: "playfair display,serif";
  font-size: 24px;
  margin: 15px 0px;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCard-body h5:hover {
  cursor: pointer;
}

#fromOurBlog .fromOurBlog .fromOurBlog-cards .blogCard .blogCard-body p {
  font-family: "Lora", serif;
  color: #6d6a6a;
  font-size: 17px;
}

.slick-slide:focus {
  outline: none;
}

.florist-slider {
  width: 70%;
  margin: auto;
}

.florist-slider .floristSlide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 84px;
  padding-bottom: 112px;
}

.florist-slider .floristSlide .floristSlideCard {
  text-align: center;
}

.florist-slider .floristSlide .floristSlideCard img {
  margin: auto;
}

.florist-slider .floristSlide .floristSlideCard .floristSlideCardText {
  font-family: "Lora", serif;
  color: #4b4747;
  font-size: 24px;
  margin: 30px 0px;
}

.florist-slider .floristSlide .floristSlideCard .floristSlideCardName {
  display: block;
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.florist-slider .floristSlide .floristSlideCard .floristSlideCardJob {
  display: block;
  font-size: 12px;
  color: #afafaf;
}

.florist-slider .floristSlide .floristSlideCard .customLeftButton {
  color: #b5b0b0;
  z-index: 666;
}

.florist-slider i[class*='fa-long'] {
  font-size: 45px;
  position: absolute;
  top: 40%;
  z-index: 10;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  color: rgba(0, 0, 0, 0.3);
}

.florist-slider i[class*='fa-long']:hover {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.florist-slider i[class*='right'] {
  right: -30px;
}

.florist-slider i[class*='left'] {
  left: -30px;
}

.owlCarousel {
  width: 100%;
  padding: 150px 0px;
}

.owlCarousel .carouselCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owlCarousel .carouselCard .carouselImg {
  overflow: hidden;
  position: relative;
  width: 225px;
  height: 250px;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owlCarousel .carouselCard .carouselImg:focus {
  outline: none;
}

.owlCarousel .carouselCard .carouselImg:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.owlCarousel .carouselCard .carouselImg img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owlCarousel .carouselCard .carouselImg img:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}

.owlCarousel .carouselCard .carouselImg img:hover + .fa-instagram {
  cursor: pointer;
  display: block;
}

.owlCarousel .carouselCard .carouselImg .fa-instagram {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-size: 50px;
  display: none;
}

.owlCarousel .carouselCard .carouselImg .fa-instagram:hover {
  display: block;
  cursor: pointer;
}

.owlCarousel .owlCarouselTitle {
  display: inline-block;
  padding: 10px;
  background-color: white;
  letter-spacing: 1px;
  font-weight: 500;
  opacity: 0.8;
  text-transform: uppercase;
  position: absolute;
  top: 45%;
  left: 45%;
}

.footerAbout {
  width: 100%;
  background-color: #fefaf3;
}

.footerAbout .footerAboutContent {
  width: 70%;
  margin: auto;
  padding: 80px 0px;
}

.footerAbout .footerAboutContent .footerContactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footerAbout .footerAboutContent .footerContactUs .customerService {
  padding: 0;
}

.footerAbout .footerAboutContent .footerContactUs .customerService h6 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 25px;
}

.footerAbout .footerAboutContent .footerContactUs .customerService ul li {
  list-style: none;
}

.footerAbout .footerAboutContent .footerContactUs .customerService ul li a {
  text-decoration: none;
  color: #afafaf;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footerAbout .footerAboutContent .footerContactUs .customerService ul li a:hover {
  color: #f34f3f;
}

.footerAbout .footerMedia {
  width: 100%;
  background-color: #fefaf3;
}

.footerAbout .footerMedia .footerMediaContent {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

.footerAbout .footerMedia .footerMediaContent .prowedBy {
  color: #afafaf;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

.footerAbout .footerMedia .footerMediaContent .prowedBy p a {
  text-decoration: none;
  color: #6d6a6a;
  -webkit-transition: .5s;
  transition: .5s;
}

.footerAbout .footerMedia .footerMediaContent .prowedBy p a:hover {
  color: #f34f3f;
}

.footerAbout .footerMedia .footerMediaContent .visaCards {
  text-align: center;
}

.footerAbout .footerMedia .footerMediaContent .visaCards img:hover {
  cursor: pointer;
}

.footerAbout .footerMedia .footerMediaContent .contactMedia {
  text-align: right;
  padding: 0;
}

.footerAbout .footerMedia .footerMediaContent .contactMedia a {
  font-size: 11px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 15px;
  color: #afafaf;
  -webkit-transition: .5s;
  transition: .5s;
}

.footerAbout .footerMedia .footerMediaContent .contactMedia a:hover {
  color: #f34f3f;
}

#title .mainTitle {
  width: 100%;
  background-color: #fafaf9;
  padding: 80px 10px;
}

#title .mainTitle .mainTitleContainer {
  width: 70%;
  margin: auto;
}

#title .mainTitle .mainTitleContainer h1 {
  font-size: 55px;
  color: #0e0e0e;
  font-family: "playfair display,serif";
}

#title .mainTitle .mainTitleContainer p {
  color: #6d6a6a;
  font-size: 19px;
  font-family: "Playfair Display";
}

#slideToggle .slideToggle {
  width: 100%;
}

#slideToggle .slideToggle .slideToggleContainer {
  width: 70%;
  margin: auto;
  padding: 80px 0px;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards {
  border: none;
  position: relative;
  margin-top: 20px;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-1, #slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eee;
  font-size: 12px;
  padding: 18px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: white;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-1:hover, #slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-2:hover {
  background-color: #f34f3f;
  color: white;
  cursor: pointer;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-1:hover .fa-plus, #slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-2:hover .fa-plus {
  display: none;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-1:hover .fa-minus, #slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-2:hover .fa-minus {
  color: white;
  cursor: pointer;
  display: block;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-1 span, #slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-2 span {
  font-size: 15px;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-1 span .fa-minus, #slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-2 span .fa-minus {
  position: relative;
  top: 5px;
  left: 0px;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-1 p, #slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElements-2 p {
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding-top: 3px;
  padding-left: 15px;
  letter-spacing: 1px;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .toggleElemensText {
  display: none;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .activetoggleCard-1, #slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .activetoggleCard-2 {
  display: block;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .activetoggleCardHeader {
  background-color: #f34f3f;
  color: white;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .activetoggleCardHeader .fa-minus {
  display: block !important;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-1 .slideToggleElements .toggleCards .activetoggleCardHeader .fa-plus {
  display: none;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0px;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards {
  border: none;
  position: relative;
  margin-top: 20px;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-3, #slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  padding: 18px;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: white;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-3:hover, #slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-4:hover {
  color: #f34f3f;
  cursor: pointer;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-3:hover .fa-plus, #slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-4:hover .fa-plus {
  display: none;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-3:hover .fa-minus, #slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-4:hover .fa-minus {
  color: #f34f3f;
  cursor: pointer;
  display: block;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-3 span, #slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-4 span {
  font-size: 15px;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-3 span .fa-minus, #slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-4 span .fa-minus {
  position: relative;
  top: 5px;
  left: 0px;
  display: none;
  -webkit-transition: .5s;
  transition: .5s;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-3 p, #slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElements-4 p {
  margin: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding-top: 3px;
  padding-left: 15px;
  letter-spacing: 1px;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .toggleElemensText {
  display: none;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .activetoggleCard-3, #slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .activetoggleCard-4 {
  display: block;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .activetoggleCardHeader {
  color: #f34f3f;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .activetoggleCardHeader .fa-minus {
  display: block !important;
}

#slideToggle .slideToggle .slideToggleContainer .slideToggle-2 .slideToggleElements .toggleCards .activetoggleCardHeader .fa-plus {
  display: none;
}

.tabs-1 {
  width: 100%;
}

.tabs-1 .tabsContainer {
  width: 70%;
  margin: auto;
  padding-top: 120px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tabs-1 .tabsContainer .tabsContent {
  padding-top: 70px;
  padding-bottom: 70px;
}

.tabs-1 .tabsContainer .tabsContent .tabsHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.tabs-1 .tabsContainer .tabsContent .tabsHead a {
  border: 1px solid #eee;
  border-bottom: none;
  border-radius: 0px;
  padding: 15px 45px;
  color: #1b1b1b;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tabs-1 .tabsContainer .tabsContent .tabsHead a:hover {
  color: #f34f3f;
}

.tabs-1 .tabsContainer .tabsContent .tabsHead .btn-selected {
  background-color: #f34f3f;
  color: white !important;
}

.tabs-1 .tabsContainer .tabsContent .tabsBody .content {
  display: none;
}

.tabs-1 .tabsContainer .tabsContent .tabsBody .content p {
  border: 1px solid #eee;
  padding: 75px 47px;
  font-family: "Lora", serif;
  color: #6d6a6a;
  font-size: 17px;
}

.tabs-1 .tabsContainer .tabsContent .tabsBody .content-selected {
  display: block;
}

.tabs-1 .tabsContainer .tabsContent2 .tabsHead a {
  border: none;
  background-color: #f6f6f6;
}

.tabs-1 .tabsContainer .tabsContent2 .tabsHead a:hover {
  color: white;
  background-color: #f34f3f;
}

.tabs-1 .tabsContainer .tabsContent2 .tabsHead .btn-selected {
  background-color: #f34f3f;
  color: white;
}

.tabs-1 .tabsContainer .tabsContent3 {
  margin-top: 60px;
}

.tabs-1 .tabsContainer .tabsContent3 .tabsHead {
  border-bottom: 1px solid #eee;
}

.tabs-1 .tabsContainer .tabsContent3 .tabsHead a {
  border: none;
  padding-left: 0px;
}

.tabs-1 .tabsContainer .tabsContent3 .tabsHead a:hover {
  color: #1b1b1b;
}

.tabs-1 .tabsContainer .tabsContent3 .tabsHead .btn-selected {
  background-color: white;
  color: #f34f3f !important;
}

.tabs-1 .tabsContainer .tabsContent3 .tabsBody .content p {
  padding: 75px 0px;
  border: none;
  border-bottom: 1px solid #eee;
}

.tabs-1 .tabsContainer .tabsContent4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.tabs-1 .tabsContainer .tabsContent4 .tabsHead {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs-1 .tabsContainer .tabsContent4 .tabsHead a {
  border-bottom: 1px solid #eee;
}

.tabs-1 .tabsContainer .tabsContent4 .tabsHead a:hover {
  background-color: #f34f3f;
  color: white;
}

.tabs-1 .tabsContainer .tabsContent4 .tabsHead .btnCenter {
  border-top: 0px;
  border-bottom: 0px;
}

.tabs-1 .tabsContainer .tabsContent4 .tabsBody p {
  padding: 13px 32px !important;
}

.progress-bar-custom {
  width: 100%;
}

.progress-bar-custom .progress-barContainer {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 96px;
  padding-bottom: 58px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.progress-bar-custom .progress-barContainer .progress-bar-end {
  padding-top: 170px;
  padding-bottom: 100px;
}

.progress-bar-custom .progress-barContainer .progress-bar-end .progressbar .progress-filVal {
  background-color: #000000 !important;
}

.progress-bar-custom .progress-barContainer .progress-bar1 .progressbar {
  height: auto;
  margin: 10px;
}

.progress-bar-custom .progress-barContainer .progress-bar1 .progressbar .progress-value {
  font-size: 18px;
  color: #2b2b2b;
  font-family: "Montserrat", sans-serif;
}

.progress-bar-custom .progress-barContainer .progress-bar1 .progressbar .progress-value span {
  font-size: 22px !important;
  font-family: "playfair display,serif";
  color: #2b2b2b;
  letter-spacing: 1px;
}

.progress-bar-custom .progress-barContainer .progress-bar1 .progressbar .progress-value .approach-value {
  float: right;
}

.progress-bar-custom .progress-barContainer .progress-bar1 .progressbar .progress-filVal {
  background-color: #ebebeb;
  height: 3px;
}

.progress-bar-custom .progress-barContainer .progress-bar1 .progressbar .progress-filVal .approach-fill-val {
  height: 100%;
  background-color: #f34f3f !important;
}

.progress-bar-custom .progress-barContainer .progress-bar1 .approach-fill-val {
  height: 20px;
}

.progress-bar-custom .progress-barContainer .progress-bar1 .progress-responsive__percent {
  width: 100%;
  height: auto;
  margin: 10px;
}

.progress-bar-custom .progress-barContainer .progress-bar1 .rdfront {
  height: 20px;
}

.shopList {
  width: 100%;
}

.shopList .shopListContainer {
  width: 70%;
  margin: auto;
}

.shopList .shopListContainer .shopList-1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  padding-bottom: 80px;
}

.shopList .shopListContainer .shopList-1 .listImg .listMainImg {
  width: 100%;
  position: relative;
}

.shopList .shopListContainer .shopList-1 .listImg .listMainImg:hover img {
  cursor: pointer;
  opacity: .2;
}

.shopList .shopListContainer .shopList-1 .listImg .listMainImg:hover .listMainImgHover {
  cursor: pointer;
  opacity: 1;
}

.shopList .shopListContainer .shopList-1 .listImg .listMainImg img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.shopList .shopListContainer .shopList-1 .listImg .listMainImg .listMainImgHover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 35%;
  left: 21%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.shopList .shopListContainer .shopList-1 .listImg .listMainImg .listMainImgHover h6 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #1b1b1b;
  letter-spacing: 2px;
  font-size: 12px;
}

.shopList .shopListContainer .shopList-1 .listImg .listMainImg .listMainImgHover span {
  color: #afafaf;
  font-size: 12px;
}

.shopList .shopListContainer .shopList-1 .listImg .listMainImg .listMainImgHover .btnDanger {
  border-radius: 0px;
  background-color: #f34f3f;
  border: none;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: uppercase;
  padding: 13px 42px;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  margin-top: 15px;
}

.shopList .shopListContainer .shopList-1 .listImg .listMainImg .listMainImgHover .btnDanger:hover {
  background-color: red;
}

.shopList .shopListContainer .shopList-1 .listImg .listNew {
  position: absolute;
  padding: 4px 13px;
  background-color: #f34f3f;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 16px;
  letter-spacing: 1px;
  top: 10px;
  left: 25px;
  z-index: 666;
}

.shopList .shopListContainer .shopList-1 .listImg .listNew:hover {
  cursor: auto;
}

.shopList .shopListContainer .shopList-1 .listImg .listSold {
  position: absolute;
  padding: 4px 13px;
  background-color: #2b2b2b;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 16px;
  letter-spacing: 1px;
  top: 10px;
  left: 25px;
  z-index: 666;
}

.shopList .shopListContainer .shopList-1 .listImg .listSold:hover {
  cursor: auto;
}

.flowerCarousel {
  width: 100%;
  padding: 150px 0px;
}

.flowerCarousel .flowerCarouselContainer {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard {
  width: 100%;
  position: relative;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg {
  width: 100%;
  text-align: center;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg .flowerImg {
  overflow: hidden;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg .flowerImg img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg .flowerImg img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg .flowerSold {
  position: absolute;
  padding: 4px 13px;
  background-color: #2b2b2b;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 16px;
  letter-spacing: 1px;
  top: 10px;
  left: 25px;
  z-index: 666;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg .flowerSold:hover {
  cursor: auto;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg .flowerNew {
  position: absolute;
  padding: 4px 13px;
  background-color: #f34f3f;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 16px;
  letter-spacing: 1px;
  top: 10px;
  left: 25px;
  z-index: 666;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg .flowerNew:hover {
  cursor: auto;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg h6 {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1b1b1b;
  padding: 30px 0px 10px;
  margin: 0px;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg h6:hover {
  cursor: pointer;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .flowerCarouselImg span {
  color: #afafaf;
  font-size: 12px;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .fa-caret-left {
  position: absolute;
  top: -40px;
  right: 30px;
  font-size: 24px;
  color: #b5b0b0;
  -webkit-transition: .5s;
  transition: .5s;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .fa-caret-left:hover {
  color: black;
  cursor: pointer;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .fa-caret-right {
  position: absolute;
  top: -40px;
  right: 10px;
  font-size: 24px;
  color: #b5b0b0;
  -webkit-transition: .5s;
  transition: .5s;
}

.flowerCarousel .flowerCarouselContainer .flowerCarouselCard .fa-caret-right:hover {
  color: black;
  cursor: pointer;
}

.flowerCarousel .flowerCarouselContainer .carouselTitle {
  position: absolute;
  top: -30px;
  left: 15px;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1b1b1b;
}

.otherFlowerList {
  width: 100%;
  padding: 120px 0px;
}

.otherFlowerList .otherFlowerListContainer {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.otherFlowerList .otherFlowerListContainer .otherFlowerItems {
  text-align: center;
}

.otherFlowerList .otherFlowerListContainer .otherFlowerItems .flowerImg {
  overflow: hidden;
}

.otherFlowerList .otherFlowerListContainer .otherFlowerItems .flowerImg img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.otherFlowerList .otherFlowerListContainer .otherFlowerItems .flowerImg img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.otherFlowerList .otherFlowerListContainer .otherFlowerItems h6 {
  padding: 30px 0px 10px;
  margin: 0px;
  font-size: 13px;
  color: #1b1b1b;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.otherFlowerList .otherFlowerListContainer .otherFlowerItems h6:hover {
  cursor: pointer;
}

.otherFlowerList .otherFlowerListContainer .otherFlowerItems span {
  font-size: 13px;
  color: #afafaf;
}

.selectedFlowers {
  width: 100%;
}

.selectedFlowers .selectedFlowersContainer {
  width: 70%;
  margin: auto;
  padding: 70px 0px 0px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersImg .selectedFlowersOtherImgs .selectedSmallImg {
  width: 118px;
  height: 166px;
  padding-bottom: 20px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersImg .selectedFlowersOtherImgs .selectedSmallImg img {
  width: 100%;
  height: 100%;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersImg .selectedFlowersOtherImgs .selectedSmallImg img:hover {
  cursor: pointer;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersImg .selectedMainImg {
  height: 642px;
  padding-left: 30px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersImg .selectedMainImg img {
  width: 100%;
  height: 100%;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersImg .selectedMainImg img:hover {
  cursor: pointer;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText {
  padding: 0px 38px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .selectedFlowersTitle {
  color: #2b2b2b;
  font-size: 38px;
  font-family: "playfair display,serif";
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .selectedFlowersPrice {
  color: #afafaf;
  font-size: 15px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .selectedFlowersAbout {
  margin: 27px 0px;
  font-size: 17px;
  color: #6d6a6a;
  font-family: "Lora", serif;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #eee;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 45px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity span {
  font-size: 12px;
  color: #999;
  margin-right: 92px;
  padding: 15px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity .productCount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 30px;
  width: 80px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity .productCount p {
  margin: 0px;
  padding: 0px 15px;
  color: #999;
  font-size: 15px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity .productCount .fa-caret-left {
  color: #999;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity .productCount .fa-caret-left:hover {
  color: #f34f3f;
  cursor: pointer;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity .productCount .fa-caret-right {
  color: #999;
  font-size: 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity .productCount .fa-caret-right:hover {
  color: #f34f3f;
  cursor: pointer;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity .selectedFlowersBtn {
  border-radius: 0px;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  padding: 14px 42px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText .quantity .selectedFlowersBtn:hover {
  background-color: #232323;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText p {
  margin: 15px 0px;
  color: #2b2b2b;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}

.selectedFlowers .selectedFlowersContainer .selectedFlowersView .selectedFlowersText p span {
  color: #8b8b8b;
  font-size: 12px;
  font-weight: 500;
}

.selectedFlowers .selectedFlowersContainer .selectedFLowersTabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}

.selectedFlowers .selectedFlowersContainer .selectedFLowersTabs a {
  color: #1b1b1b;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 17px 47px;
  border: 1px solid #eee;
  font-family: "Montserrat", sans-serif;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.selectedFlowers .selectedFlowersContainer .selectedFLowersTabs .btnCenter {
  border-left: 0px;
  border-right: 0px;
}

.selectedActiveTab {
  background-color: #f34f3f;
  color: white !important;
}

.selectedActiveTabContent {
  display: block !important;
}

.selectedTabsContent {
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.selectedTabsContent .selectedTabsContentContainer {
  width: 70%;
  margin: auto;
  padding: 75px 0px;
}

.selectedTabsContent .selectedTabsContentContainer .selectedTabOfContent {
  display: none;
}

.selectedTabsContent .selectedTabsContentContainer .selectedTabOfContent h3 {
  font-size: 30px;
  color: #2b2b2b;
  font-family: "playfair display,serif";
}

.selectedTabsContent .selectedTabsContentContainer .selectedTabOfContent .powerOfFlowersText {
  color: #6d6a6a;
  font-family: "Lora", serif;
  padding: 20px 125px 20px 0px;
}

.selectedTabsContent table tbody tr th {
  color: #2b2b2b;
  padding: 0 10px 0 0;
  font-size: 13px;
}

.selectedTabsContent table tbody tr td {
  font-size: 13px;
  color: #6d6a6a;
  padding: 3px 0;
}

.selectedTabsContent h2 {
  font-size: 30px;
  color: #2b2b2b;
  font-family: "playfair display,serif";
}

.selectedTabsContent .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px;
}

.selectedTabsContent .user img {
  width: 70px;
  height: 100%;
}

.selectedTabsContent .user .userName {
  color: #1b1b1b;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 20px;
  font-weight: 500;
}

.selectedTabsContent .user .userName .userDate {
  color: #afafaf;
  font-size: 11px;
}

.selectedTabsContent .user .userText {
  font-size: 17px;
  color: #6d6a6a;
  font-family: "Lora", serif;
  padding-left: 20px;
  padding-right: 70px;
}

.selectedTabsContent .addAReview {
  font-family: "playfair display,serif";
  font-size: 30px;
  color: #2b2b2b;
}

.selectedTabsContent form {
  padding: 15px 0px;
}

.selectedTabsContent form .formComment {
  color: #6d6a6a;
  font-size: 17px;
  font-family: "Lora", serif;
  margin: 0px;
  padding-bottom: 5px;
}

.selectedTabsContent form .formText {
  padding: 15px 0px 5px;
}

.selectedTabsContent form textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #e8e8e8;
  padding: 16px 18px;
  font-size: 12px;
  border-radius: 0px;
  color: #999;
}

.selectedTabsContent form textarea:focus {
  outline: none;
  border-color: #6d6a6a;
}

.selectedTabsContent form .customInput {
  width: 100%;
  padding: 19px 18px;
  border-radius: 0px;
  font-size: 12px;
  border: 1px solid #e8e8e8;
  color: #999;
}

.selectedTabsContent form .customInput:focus {
  outline: none;
  border-color: #6d6a6a;
}

.selectedTabsContent form .customCheckbox {
  margin: 4px;
}

.selectedTabsContent form .checkboxSave {
  font-size: 15px;
  color: #6d6a6a;
  padding-top: 10px;
}

.selectedTabsContent form .btnSubmit {
  padding: 13px 42px;
  background-color: #f34f3f;
  color: white;
  border-radius: 0px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  margin: 15px 0px;
  -webkit-transition: .5s;
  transition: .5s;
}

.selectedTabsContent form .btnSubmit:hover {
  background-color: #ff3d2a;
}

.related-products {
  width: 100%;
}

.related-products .related-productsContainer {
  width: 70%;
  margin: auto;
  padding: 120px 0px;
}

.related-products .related-productsContainer .related-productImg {
  overflow: hidden;
}

.related-products .related-productsContainer .related-productImg img {
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}

.related-products .related-productsContainer .related-productImg img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.related-products .related-productsContainer .related-productImg .soldRelatedProduct {
  position: absolute;
  padding: 4px 13px;
  background-color: #2b2b2b;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 16px;
  letter-spacing: 1px;
  top: 10px;
  left: 25px;
  z-index: 666;
}

.related-products .related-productsContainer .related-productImg .soldRelatedProduct:hover {
  cursor: auto;
}

.related-products .related-productsContainer h2 {
  font-size: 13px;
  color: #1b1b1b;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  margin-bottom: 30px;
}

.related-products .related-productsContainer .relatedProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.related-products .related-productsContainer .relatedProducts .related-productList {
  text-align: center;
}

.related-products .related-productsContainer .relatedProducts .related-productList h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 20px;
  font-size: 13px;
  margin-bottom: 5px;
}

.related-products .related-productsContainer .relatedProducts .related-productList h6:hover {
  cursor: pointer;
}

.related-products .related-productsContainer .relatedProducts .related-productList span {
  color: #afafaf;
  font-size: 13px;
}

::-moz-selection {
  color: white;
  background-color: #f34f3f;
}

::selection {
  color: white;
  background-color: #f34f3f;
}
/*# sourceMappingURL=style.css.map */