* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  $primary-fonts: 'Lora', serif;
  $secondary-font: 'Montserrat', sans-serif;
  $playfair-font: 'Playfair Display';
  $fair-fontSerif: 'playfair display,serif';
  $colorBlack: black;
  $colorRed: #f34f3f;
  $colorHover: #737373;
  $colorGrey: #afafaf;
  $fontSize: 19px;
  
  // .fontColor{
  //     color: $colorBlack;
  // }
  
  // .fontColorRed{
  //     color: $colorRed;
  // }
  
  .primaryFamily {
    font-family: $secondary-font;
  }
  .activeNavlist {
    // border-bottom: 1px solid $colorBlack;
    &::before{
        width: 100% !important;
        visibility: visible !important;
    }
  }
  
  .logo {
    width: 250px;
    height: 25px;
    text-align: left;
    // position: relative;
    // top: 14px;
    // left: 87px;
    a {
    padding: 14px 0px 0px 0px;
    img {
        height: 25px;
      }
    }
  }

  .navbar-fixed {
    top: 0px !important;
}
.secondNavBar{
  position: fixed;
  top: -115px;
  transition: .5s;
  z-index: 999;
  border-bottom: 1px solid #eee;
}

  .navHeader{
    width: 100%;
    background-color: white;
    .headContainer{
      width: 70%;
      margin: auto;
      position: relative;
      .navbar-expand-lg{
          padding: 0px;
      }
      .navbar-collapse{
          padding: 0px;
          position: static;
      }
      .navbar-nav {
        // margin-left: 70px;
        .nav-item {
          padding-left: 47px;
          padding-top: 50px;
          font-size: 12px;
          letter-spacing: 2px;
          position: relative;
          .navHome{
              &:hover .homeList{
                  transform: scaleY(1);;
              }
            .homeList {
                width: 200px;
                // height: 240px;
                padding: 70px 35px 30px 35px;
                background-color: white;
                position: absolute;
                top: 69px;
                left: 11px;
                z-index: 666;
                line-height: 30px;
                transform: scaleY(0);
                font-size: 12px;
                line-height: 2.5;
                font-family: $secondary-font;
                transform-origin: top;
                transition: transform 0.26s;
                ul {
                  list-style: none;
                  li {
                    a {
                      color: #737373;
                      text-decoration: none;
                      position: relative;
                      &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: #737373;
                        visibility: hidden;
                        transition: all 0.3s ease-in-out;
                      }
                      &:hover::before{
                        visibility: visible;
                        width: 100%;
                        }
                    }
                  }
                }
              }
          }
          .navPage{
                &:hover .pageList{
                    transform: scaleY(1);;
                }
              .pageList{
                width: 200px;
                padding: 70px 75px 30px 35px;
                background-color: white;
                position: absolute;
                top: 69px;
                left: 15px;
                z-index: 666;
                line-height: 30px;
                transform: scaleY(0);
                font-size: 12px;
                line-height: 2.5;
                font-family: $secondary-font;
                transform-origin: top;
                transition: transform 0.26s;
                ul {
                  list-style: none;
                  li {
                    a {
                      color: #737373;
                      text-decoration: none;
                      position: relative;
                      &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: #737373;
                        visibility: hidden;
                        transition: all 0.3s ease-in-out;
                        
                      }
                      &:hover::before{
                        visibility: visible;
                        width: 100%;
                    }
                    }
                  }
                }
              }
          }
          .navShop{
            &:hover .shopList{
                transform: scaleY(1);;
            }
              .shopList{
                  display: flex;
                  position: absolute;
                  top: 69px;
                  left: 0px;
                  width: 100%;
                  z-index: 666;
                  background-color: white;
                  padding-top: 45px;
                  transform: scaleY(0);
                  transform-origin: top;
                  transition: transform 0.26s;
                  .shopProductTypes{
                      padding: 40px 80px;
                      h4{
                          font-size: 22px;
                          font-family: $fair-fontSerif;
                          color: #1b1b1b;
                          padding: 20px 0px;
                      }
                      ul{
                        list-style: none;
                          li{
                              a{
                                  text-decoration: none;
                                  color: #737373;
                                  position: relative;
                                  font-size: 12px;
                                  line-height: 3;
                                  &::before{
                                    content: "";
                                    position: absolute;
                                    width: 0;
                                    height: 1px;
                                    bottom: 0;
                                    left: 0;
                                    background-color: #737373;
                                    visibility: hidden;
                                    transition: all 0.3s ease-in-out;
                                    
                                  }
                                  &:hover::before{
                                    visibility: visible;
                                    width: 100%;
                                }
                              }
                          }
                      }
                  }
              }
          }
          .navPortfolio{
            &:hover .portfolioList{
                transform: scaleY(1);;
            }
            .portfolioList{
                width: 210px;
                padding: 70px 20px 30px 35px;
                background-color: white;
                position: absolute;
                top: 69px;
                left: 15px;
                z-index: 666;
                line-height: 30px;
                transform: scaleY(0);
                font-size: 12px;
                line-height: 2.5;
                font-family: $secondary-font;
                transform-origin: top;
                transition: transform 0.26s;
                ul {
                  list-style: none;
                  li {
                    a {
                      color: #737373;
                      text-decoration: none;
                      position: relative;
                      transition: .5s;
                      
                      &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: #737373;
                        visibility: hidden;
                        transition: all 0.3s ease-in-out;
                        
                      }
                      &:hover::before{
                        visibility: visible;
                        width: 100%;
                    }
                    span{
                        float: right;
                        color: #737373;
                    }
                    // .portHover-1{
                    //     transition: .5s;
                    //     &:hover .portfolioListHover-1{
                    //         display: block;
                    //     }
                    // }
                    }
                    .portfolioListHover-1{
                        position: absolute;
                        top: 54%;
                        left: 100%;
                        width: 200px;
                        padding: 23px;
                        background-color: white;
                        opacity: 0;
                        transition: opacity .5s;
                    }
                    .portfolioListHover-2{
                        position: absolute;
                        top: 67%;
                        left: 100%;
                        width: 200px;
                        padding: 23px;
                        background-color: white;
                        display: none;
                    }
                    &:hover .portfolioListHover-1{
                      opacity: 1;
                    }
                    &:hover .portfolioListHover-2{
                        display: block;
                    }
                  }
                }
            }
          }
          .navBlog{
            &:hover .blogList{
                transform: scaleY(1);;
            }
              .blogList{
                width: 210px;
                padding: 70px 30px 30px 35px;
                background-color: white;
                position: absolute;
                top: 69px;
                left: 15px;
                z-index: 666;
                line-height: 30px;
                transform: scaleY(0);
                font-size: 12px;
                line-height: 2.5;
                font-family: $secondary-font;
                transform-origin: top;
                transition: transform 0.26s;
                ul {
                  list-style: none;
                  li {
                    a {
                      color: #737373;
                      text-decoration: none;
                      position: relative;
                      &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: #737373;
                        visibility: hidden;
                        transition: all 0.3s ease-in-out;
                      }
                      &:hover::before{
                        visibility: visible;
                        width: 100%;
                    }
                    span{
                        float: right;
                        color: #737373;
                    }
                    }
                    .blogListHover{
                        position: absolute;
                        top: 54%;
                        left: 100%;
                        width: 200px;
                        padding: 23px;
                        background-color: white;
                        display: none;
                    }
                    &:hover .blogListHover{
                        display: block;
                    }
                  }
                }
              }
          }
          .navElements{
            &:hover .elementsList{
                transform: scaleY(1);;
            }
              .elementsList{
                width: 210px;
                padding: 70px 30px 30px 35px;
                background-color: white;
                position: absolute;
                top: 69px;
                left: 15px;
                z-index: 666;
                line-height: 30px;
                transform: scaleY(0);
                font-size: 12px;
                line-height: 2.5;
                font-family: $secondary-font;
                transform-origin: top;
                transition: transform 0.26s;
                ul {
                  list-style: none;
                  li {
                    a {
                      color: #737373;
                      text-decoration: none;
                      position: relative;
                      &::before{
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: 0;
                        left: 0;
                        background-color: #737373;
                        visibility: hidden;
                        transition: all 0.3s ease-in-out;
                      }
                      &:hover::before{
                        visibility: visible;
                        width: 100%;
                    }
                    span{
                        float: right;
                        color: #737373;
                    }
                    }
                    .blogListHover{
                        position: absolute;
                        top: 54%;
                        left: 100%;
                        width: 200px;
                        padding: 23px;
                        background-color: white;
                        display: none;
                    }
                    &:hover .blogListHover{
                        display: block;
                    }
                    .elementsHover-1{
                        position: absolute;
                        top: 21%;
                        left: 100%;
                        width: 200px;
                        padding: 23px;
                        background-color: white;
                        display: none;
                    }
                    &:hover .elementsHover-1{
                        display: block;
                    }
                    .elementsHover-2{
                        position: absolute;
                        top: 35%;
                        left: 100%;
                        width: 200px;
                        padding: 23px;
                        background-color: white;
                        display: none;
                    }
                    &:hover .elementsHover-2{
                        display: block;
                    }
                    .elementsHover-3{
                        position: absolute;
                        top: 48%;
                        left: 100%;
                        width: 200px;
                        padding: 23px;
                        background-color: white;
                        display: none;
                    }
                    &:hover .elementsHover-3{
                        display: block;
                    }
                    .elementsHover-4{
                        position: absolute;
                        top: 62%;
                        left: 100%;
                        width: 200px;
                        padding: 23px;
                        background-color: white;
                        display: none;
                    }
                    &:hover .elementsHover-4{
                        display: block;
                    }
                  }
                }
              }
          }
          .navIcon{
            padding: 0;
            color: $colorBlack;
            &:hover {
                color: $colorBlack;
              }
              .fa-search {
                font-size: $fontSize;
                margin-right: 20px;
                transition: .5s;
                &:hover{
                    color: $colorRed;
                }
              }
              .fa-shopping-bag {
                position: relative;
                font-size: $fontSize;
                margin-right: 20px;
                sup {
                  position: absolute;
                  top: 0px;
                  right: -7px;
                  background-color: $colorRed;
                  color: white;
                  padding: 5px;
                  border-radius: 5px;
                  font-weight: bold;
                }
              }
          }
          .navList {
            padding: 0;
            color: $colorBlack;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                bottom: 0;
                left: 0;
                background-color: $colorBlack;
                visibility: hidden;
                transition: all 0.3s ease-in-out;
              }
              &:hover::before{
                visibility: visible;
                width: 100%;
            }
            &:hover {
              color: $colorBlack;
            }
            
            
            
          }
          
        }
      }
  }
  }
  
  
  .categories {
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    .categoriesList {
      ul {
        list-style: none;
        display: flex;
        font-family: $secondary-font;
        font-size: 12px;
        margin-top: 70px;
        li {
          // padding: 70px 25px 15px 0px;
          margin-right: 32px;
          letter-spacing: 1px;
          a {
            text-decoration: none;
            color: $colorBlack;
            transition: 0.5s;
            &:hover {
              color: $colorRed;
            }
          }
        }
        .activeLi {
          color: $colorRed;
        }
      }
    }
  }
  
  .filter {
    position: relative;
    width: 100%;
    height: 100%;
    // text-align: end;
    display: flex;
    // flex-direction: row-reverse;
    justify-content: flex-end;
    // float: right;
    font-family: $secondary-font;
    font-size: 12px;
    letter-spacing: 1px;
    // padding-top: 70px;
    margin: 70px 0 0;
    cursor: pointer;
    // margin: 69px 0 0;
    .filter-content {
      display: flex;
      position: absolute;
      top: 34px;
      right: 15px;
      background-color: white;
      z-index: 666;
      width: 410px;
      // padding: 50px;
      .filter-text {
        margin-right: 15px;
      }
      .sort-by {
        padding-left: 40px;
        h5 {
          font-size: 25px;
          line-height: 2;
          font-family: $fair-fontSerif;
        }
        // font-family: $playfair-font;
        ul {
          list-style: none;
          li {
            line-height: 2;
            a {
              text-decoration: none;
              font-size: 13px;
              color: $colorHover;
              transition: 0.5s;
              &:hover {
                color: $colorBlack;
              }
            }
          }
        }
      }
      .price-range {
        // padding-right: 62px;
        // padding-left: 50px;
        // padding-left: 40px;
        padding: 0px 40px 25px 40px;
        h5 {
          font-size: 25px;
          line-height: 2;
          font-family: $fair-fontSerif;
        }
        // font-family: $playfair-font;
        ul {
          list-style: none;
          li {
            line-height: 2;
            a {
              text-decoration: none;
              font-size: 13px;
              color: $colorHover;
              transition: 0.5s;
              &:hover {
                color: $colorBlack;
              }
            }
          }
        }
      }
    }
    &:hover .filter-content {
      display: flex !important;
    }
  }
  
  .filterCard {
    text-align: center;
    border: none;
    padding-bottom: 75px;
    .cardImg {
      width: 100%;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      .sold {
        position: absolute;
        // height: 30px;
        padding: 4px 13px;
        background-color: #2b2b2b;
        color: #fff;
        font-family: $playfair-font;
        font-size: 16px;
        letter-spacing: 1px;
        top: 15px;
        left: 15px;
        z-index: 666;
        &:hover {
          cursor: auto;
        }
      }
      .sale {
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 666;
        font-family: $playfair-font;
        color: #2b2b2b;
        background-color: #fff;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 4px 15px;
        &:hover {
          cursor: auto;
        }
      }
    }
    .card-img-top {
      transition: 0.8s;
      &:hover {
        transform: scale(1.05);
        box-sizing: border-box;
      }
    }
    .card-body {
      font-size: 13px;
      .card-text {
        letter-spacing: 1px;
        cursor: pointer;
        font-family: $secondary-font;
      }
      .card-price {
        color: $colorGrey;
        transition: 0.5s;
        &:hover {
          // color: $colorRed;
          cursor: pointer;
        }
        span {
          color: $colorBlack;
          margin-left: 5px;
          font-weight: 300;
        }
      }
    }
  }
  
  #valentine {
    background-color: #f7f7f7;
    .valentine {
      width: 70%;
      margin: auto;
      display: flex;
      padding: 120px 0;
      .valentineVideo {
        .valentineImg {
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            transition: 0.5s;
            position: relative;
            &:hover {
              transform: scale(1.05);
              box-sizing: border-box;
              cursor: pointer;
            }
          }
          .playIcon {
            width: 100px;
            height: 100px;
            background-color: white;
            color: $colorRed;
            font-size: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            position: absolute;
            top: 37%;
            left: 42%;
            z-index: 666;
            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
    .valentineText {
      padding: 31px 10% 0px 70px;
      .valentineTitle {
        letter-spacing: 1px;
        margin-bottom: 27px;
        .blackValentine {
          font-size: 40px;
          line-height: 50px;
          font-family: $fair-fontSerif;
          color: #2b2b2b;
          .redValentine {
            color: $colorRed;
          }
        }
      }
      .valentineAbout {
        font-size: 17px;
        color: #6d6a6a;
        line-height: 29px;
        img {
          margin-right: 12px;
        }
      }
    }
  }
  
  .flower-experts {
    width: 70%;
    margin: auto;
    .flower-experts-title {
      text-align: center;
      padding: 160px 0px 60px 0px;
      width: 50%;
      margin: auto;
      h2 {
        font-size: 42px;
        color: #2b2b2b;
        font-family: $fair-fontSerif;
        line-height: 2;
      }
      p {
        font-size: 20px;
        font-family: $primary-fonts;
        color: #6d6a6a;
      }
    }
    .profileAbout {
      width: 100%;
      display: flex;
      .profileContent {
        width: 100%;
        padding-bottom: 85px;
        .profileImg {
          text-align: center;
        }
        .profileName {
          text-align: center;
          padding-top: 25px;
          h6 {
            color: #1b1b1b;
            font-family: $secondary-font;
            font-size: 12px;
            letter-spacing: 1px;
          }
          span {
            font-size: 13px;
            color: #afafaf;
            letter-spacing: 0.5px;
          }
        }
      }
    }
  }
  
  #joinBunch {
    background-image: url('../img/h3-background-img.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    .joinBunch {
      width: 70%;
      margin: auto;
      padding-top: 183px;
      padding-bottom: 185px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .joinBunchText {
        color: white;
        font-family: $fair-fontSerif;
        margin-bottom: 20px;
        letter-spacing: 1px;
        h3 {
          font-size: 30px;
        }
      }
      .customInput {
        font-size: 12px;
        padding: 30px 15px;
        color: #959595;
        border-radius: 0;
        border: none;
        box-shadow: none;
      }
      .customButton {
        background-color: $colorRed;
        color: white;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: 600;
        border: none;
        box-shadow: none;
        padding: 0px 40px;
        transition: 0.5s;
        &:hover {
          cursor: pointer;
          background-color: red;
        }
      }
    }
  }
  
  #fromOurBlog {
    background-color: #f8f8f8;
    .fromOurBlog {
      width: 70%;
      margin: auto;
      padding: 98px 0px 81px 0px;
      .fromOurBlog-title {
        text-align: center;
        width: 50%;
        margin: auto;
        padding-bottom: 68px;
        h2 {
          font-size: 38px;
          font-family: $fair-fontSerif;
          margin-bottom: 20px;
        }
        p {
          font-size: 20px;
          font-family: $primary-fonts;
          color: #6d6a6a;
          line-height: 1.5;
          // letter-spacing: 1px;
        }
      }
      .fromOurBlog-cards {
        width: 100%;
        display: flex;
        .blogCard {
          padding: 0 5px;
          border: none;
          background-color: #f8f8f8;
          // text-align: center;
          .blogCardImg {
            overflow: hidden;
            position: relative;
            img {
              border-radius: 0px;
              transition: 0.5s;
              &:hover {
                transform: scale(1.05);
                box-sizing: border-box;
                cursor: pointer;
              }
            }
          }
          .blogCardDate {
            position: absolute;
            top: 15px;
            left: 15px;
            z-index: 666;
            font-family: $secondary-font;
            color: #2b2b2b;
            background-color: #fff;
            font-size: 11px;
            letter-spacing: 1px;
            padding: 7px 16px;
            transition: 0.5;
            &:hover {
              cursor: pointer;
              color: $colorRed;
            }
            p {
              margin: 0px;
            }
          }
  
          .blogCard-body {
            text-align: center;
            h5 {
              font-family: $fair-fontSerif;
              font-size: 24px;
              margin: 15px 0px;
              &:hover {
                cursor: pointer;
              }
            }
            p {
              font-family: $primary-fonts;
              color: #6d6a6a;
              font-size: 17px;
            }
          }
        }
      }
    }
  }

  .slick-slide:focus{ 
    outline: none;
  }
  
  .florist-slider {
    width: 70%;
    margin: auto;
    .floristSlide {
      display: flex;
      padding-top: 84px;
      padding-bottom: 112px;
      .floristSlideCard {
        text-align: center;
        //   width: 47%;
        //   margin: auto;
        img {
          margin: auto;
        }
        .floristSlideCardText {
          font-family: $primary-fonts;
          color: #4b4747;
          font-size: 24px;
          margin: 30px 0px;
        }
        .floristSlideCardName {
          display: block;
          color: #1b1b1b;
          font-family: $secondary-font;
          font-size: 12px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
        .floristSlideCardJob {
          display: block;
          font-size: 12px;
          color: #afafaf;
        }
        .customLeftButton {
          color: #b5b0b0;
          z-index: 666;
        }
      }
    }
    i[class*='fa-long'] {
      font-size: 45px;
      position: absolute;
      top: 40%;
      z-index: 10;
      transition: color 0.4s;
      color: rgba($color: #000000, $alpha: 0.3);
      &:hover {
        color: rgba($color: #000000, $alpha: 0.8);
        cursor: pointer;
      }
    }
    i[class*='right'] {
      right: -30px;
    }
    i[class*='left'] {
      left: -30px;
    }
  }
  
  .owlCarousel {
    width: 100%;
    padding: 150px 0px;
    .carouselCard {
      display: flex;
      .carouselImg {
        overflow: hidden;
        position: relative;
        width: 225px;
        height: 250px;
        filter: brightness(0.5);
        transition: 0.5s;
        &:focus {
          outline: none;
        }
        &:hover {
          filter: brightness(1);
        }
        img {
          width: 100%;
          height: 100%;
          transition: 0.5s;
          &:hover {
            transform: scale(1.02);
            cursor: pointer;
          }
          &:hover + .fa-instagram {
            cursor: pointer;
            display: block;
          }
        }
        .fa-instagram {
          position: absolute;
          top: 40%;
          left: 40%;
          color: white;
          font-size: 50px;
          display: none;
          &:hover {
            display: block;
            cursor: pointer;
          }
        }
      }
    }
    .owlCarouselTitle {
      display: inline-block;
      padding: 10px;
      background-color: white;
      letter-spacing: 1px;
      font-weight: 500;
      opacity: 0.8;
      text-transform: uppercase;
      position: absolute;
      top: 45%;
      left: 45%;
    }
  }

  .footerAbout {
    width: 100%;
    background-color: #fefaf3;
    .footerAboutContent {
      width: 70%;
      margin: auto;
      padding: 80px 0px;
      .footerContactUs{
          display: flex;
        .customerService {
            padding: 0;
            h6 {
              text-transform: uppercase;
              //   font-weight: 400;
              font-size: 12px;
              letter-spacing: 2px;
              margin-bottom: 25px;
            }
            ul {
              li {
                list-style: none;
                a {
                  text-decoration: none;
                  color: $colorGrey;
                  font-size: 12px;
                  letter-spacing: 1px;
                  transition: 0.5s;
                  &:hover {
                    color: $colorRed;
                  }
                }
              }
            }
          }
      
      }
    }
    .footerMedia{
        width: 100%;
        background-color: #fefaf3;
        .footerMediaContent{
            width: 70%;
            margin: auto;
            display: flex;
            padding: 25px 0px;
            border-top: 0.5px solid rgba($color: #000000, $alpha: 0.1);
            .prowedBy{
                color: #afafaf;
                font-size: 12px;
                letter-spacing: 1px;
                padding: 0;
                margin: 0;
                p{
                    a{
                        text-decoration: none;
                        color: #6d6a6a;
                        transition: .5s;
                        &:hover{
                            color: $colorRed;
                        }
                    }
                }
            }
            .visaCards{
                text-align: center;
                img{
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            .contactMedia{
                text-align: right;
                padding: 0;
                a{
                    font-size: 11px;
                    letter-spacing: 2px;
                    text-decoration: none;
                    text-transform: uppercase;
                    margin-left: 15px;;
                    color: #afafaf;
                    transition: .5s;
                    &:hover{
                        color: $colorRed;
                    }
                }
            }
        }
    }
  }

  //accordions page
  #title{
    .mainTitle{
      width: 100%;
      background-color: #fafaf9;
      padding: 80px 10px;
      .mainTitleContainer{
        width: 70%;
        margin: auto;
        h1{
          font-size: 55px;
          color: #0e0e0e;
          font-family: $fair-fontSerif;
        }
      }
    }
  }

  #slideToggle{
    .slideToggle{
      width: 100%;
      .slideToggleContainer{
        width: 70%;
        margin: auto;
        padding: 80px 0px;
        .slideToggle-1{
          display: flex;
          .slideToggleElements{
            .toggleCards{
              border: none;
              position: relative;
              margin-top: 20px;
              .toggleElements-1, .toggleElements-2{
                display: flex;
                border: 1px solid #eee;
                font-size: 12px;
                padding: 18px;
                // margin-top: 20px;
                transition: .5s;
                background-color: white;
                &:hover{
                  background-color: $colorRed;
                  color: white;
                  cursor: pointer;
                }
                &:hover .fa-plus{
                  display: none;
                }
                &:hover .fa-minus{
                  // background-color: $colorRed;
                  color: white;
                  cursor: pointer;
                  display: block;
                }
                span{
                  font-size: 15px;
                  .fa-minus{
                    position: relative;
                    top: 5px;
                    left: 0px;
                    display: none;
                    transition: .5s;
                  }
                }
                p{
                  margin: 0;
                  text-transform: uppercase;
                  font-family: $secondary-font;
                  padding-top: 3px;
                  padding-left: 15px;
                  letter-spacing: 1px;
                }
              }
              .toggleElemensText{
                display: none;
              }
              
              .activetoggleCard-1, .activetoggleCard-2{
                display: block;
              }
              .activetoggleCardHeader{
                background-color: $colorRed;
                color: white;
                .fa-minus{
                  display: block !important;
                }
                .fa-plus{
                  display: none;
                }
                
              }
            }
          }
          
        }
        .slideToggle-2{
          display: flex;
          padding: 50px 0px;
          .slideToggleElements{
            .toggleCards{
              border: none;
              position: relative;
              margin-top: 20px;
              .toggleElements-3, .toggleElements-4{
                display: flex;
                border-bottom: 1px solid #eee;
                font-size: 12px;
                padding: 18px;
                // margin-top: 20px;
                transition: .5s;
                background-color: white;
                &:hover{
                  color: $colorRed;
                  cursor: pointer;
                }
                &:hover .fa-plus{
                  display: none;
                }
                &:hover .fa-minus{
                  color: $colorRed;
                  cursor: pointer;
                  display: block;
                }
                span{
                  font-size: 15px;
                  .fa-minus{
                    position: relative;
                    top: 5px;
                    left: 0px;
                    display: none;
                    transition: .5s;
                  }
                }
                p{
                  margin: 0;
                  text-transform: uppercase;
                  font-family: $secondary-font;
                  padding-top: 3px;
                  padding-left: 15px;
                  letter-spacing: 1px;
                }
              }
              .toggleElemensText{
                display: none;
              }
              
              .activetoggleCard-3, .activetoggleCard-4{
                display: block;
              }
              .activetoggleCardHeader{
                color: $colorRed;
                .fa-minus{
                  display: block !important;
                }
                .fa-plus{
                  display: none;
                }
                
              }
            }
          }
          
        }
      }
    }
  }

  //tabs page
  .tabs-1{
    width: 100%;
    .tabsContainer{
      width: 70%;
      margin: auto;
      .tabsHead-1{
        display: flex;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 12px;
        a{
        border: 1px solid #eee;
        padding: 15px 45px;
        }
      }
      .tabsBody-1{
        display: none;
      }
    }
  }
  
  